*.cmi
*.cmx
*.inc
*.o
*.pyc
*.tmp
/Makefile.config
/config.*
/configure.out
/docs/CommandGuide/*.1
/docs/CommandGuide/*.html
/docs/CommandGuide/*.ps
/docs/html.tar.gz
/docs/ocamldoc*
/include/llvm/Config/AsmParsers.def
/include/llvm/Config/AsmPrinters.def
/include/llvm/Config/Disassemblers.def
/include/llvm/Config/Targets.def
/include/llvm/Config/config.h
/include/llvm/Config/llvm-config.h
/include/llvm/Intrinsics.gen
/include/llvm/System/DataTypes.h
/install/
/llvm.spec
/projects/sample/Makefile.common
/projects/sample/config.log
/projects/sample/config.status
/test/Other/cfg.foo.dot
/test/Unit/.dir
/test/Unit/lit.site.cfg
/test/lit.site.cfg
/test/site.bak
/test/site.exp
/tools/llvm-config/FinalLibDeps.txt
/tools/llvm-config/LibDeps.txt
/tools/llvm-config/LibDeps.txt.tmp
/tools/llvm-config/llvm-config.in
/tools/llvmc/plugins/Base/Base.td
/tools/llvmc/src/Base.td
Debug+Asserts/
Debug/
Output/
